﻿@charset "utf-8";

.cv h1 {
    font-size: 48px;
   
}

.cv h2 {
	font-size: 40px;
	margin: 40px 0px;
	border-bottom: 1px solid white;
	font-weight: bold;
}

.cv h3 {
	font-size: 32px;
	margin: 0px;
}

.cv h4 {
	font-size: 18px;
	margin: 0px 0px 5px 0px;
}

.cv h5 {
	font-size: 14px;
	font-family: "Fira Code", monospace;
	text-align: left;
	line-height: 1.5 !important;
}

.cv h6 {
	font-size: 14px;
	margin: 0px 0px 0px 0px;
}

.cv h1:before {
    content: "";
}

.cv p {
	white-space: normal; 
}

.cv .content,
.cv ul {
    margin: 20px 0px 50px 0px;
}
