---
layout: default
---

{{ content }}

<ul>
    {% for item in site.collections %}
        {% if item.label == 'traditional' %}
        <li>
            <a href="#{{item.label}}">/{{item.label}}</a>
        </li>
        {% endif %}
    {% endfor %}
    {% for item in site.collections %}
        {% if item.label == 'digital' %}
        <li>
            <a href="#{{item.label}}">/{{item.label}}</a>
        </li>
        {% endif %}
    {% endfor %}
    {% for item in site.collections %}
        {% if item.label == 'fanart' %}
        <li>
            <a href="#{{item.label}}">/{{item.label}}</a>
        </li>
        {% endif %}
    {% endfor %}
</ul>

{% for item in site.collections %}
    {% if item.label == 'traditional' %}
        <h1 id="{{item.label}}">/{{item.label}}</h1>
        <br>
        <div class="art">
        {% for img in item.files %}
            {% if img.path contains ".png" %}
                <a class="piece" href="{{ img.path | absolute_url }}"><img width="250px" src="{{ img.path | absolute_url }}"></a>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
{% endfor %}
{% for item in site.collections %}
    {% if item.label == 'digital' %}
        <h1 id="{{item.label}}">/{{item.label}}</h1>
        <br>
        <div class="art">
        {% for img in item.files %}
            {% if img.path contains ".png" %}
                <a class="piece" href="{{ img.path | absolute_url }}"><img width="250px" src="{{ img.path | absolute_url }}"></a>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
{% endfor %}
{% for item in site.collections %}
    {% if item.label == 'fanart' %}
        <h1 id="{{item.label}}">/{{item.label}}</h1>
        <br>
        <div class="art">
        {% for img in item.files %}
            {% if img.path contains ".png" %}
                <a class="piece" href="{{ img.path | absolute_url }}"><img width="250px" src="{{ img.path | absolute_url }}"></a>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
{% endfor %}
