
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head-cv.html -%}

  <body>
    <div class="container">

      {%- include header.html -%}

    <div class="cv">
        {{ content }}

        <p>
        <i>[<a href="#">top</a>]</i>
        </p>
    </div>

    {%- include footer.html -%}

    </div>
  </body>
</html>
