---
layout: default
---
{{ page.notes_title }}

{{ content }}

{% if page.uiq %}
<div style="text-align: center"><img src="/images/ktty.png" alt="Cat logo"></div>
{% endif %}

<p>
<i>[<a href="#">top</a>]</i>
</p>
<p>
{% if page.next %}[<a href={{page.next.url}}>newer</a>]{% else %}[newer]{% endif %} | {% if page.previous %}[<a href={{page.previous.url}}>older</a>]{% else %}[older]{% endif %}
</p>