---
layout: default
---

{{ content }}

{% for item in site.collections %}
    {% if item.label == 'notes' %}
		<ul>
		{% assign sorted_tags = item.docs | sort:"date" | reverse %}

        {% for img in sorted_tags  %}
			<li>
			<a href="{{ img.url }}">{{ img.notes_title }}</a>
			</li>
        {% endfor %}
		</ul>
    {% endif %}
{% endfor %}
