---
layout: default
---

{{ content }}

{% if page.uiq %}
<div style="text-align: center"><img src="/images/uiq.png" alt="Felix Guattari's Face as a bunch of blue dots"></div>
{% endif %}

<p>
<i>posted on {{ page.date | date: "%r, %x" }}</i>
<i>filed under: {% for tag in page.tags %} {{tag}} {% endfor %}</i>
<i>[<a href="#">top</a>]</i>

{% if page.next %}[<a href={{page.next.url}}>newer</a>]{% else %}[newer]{% endif %} | {% if page.previous %}[<a href={{page.previous.url}}>older</a>]{% else %}[older]{% endif %}
</p>
